<div class="bg-white rounded-lg shadow">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <!-- Table headers -->
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% locations.each do |location| %>
        <tr>
          <td><%= location.name %></td>
          <!-- Add other table data here -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
